@import '../core/reset';
@import '../core/variables';

.button {
    display: block;
    min-width: 120px;
    max-width: 150px;
  
    margin: 8px;
    padding: 5px 18px;
    color: $color-white;
    font: $font-button;
    text-transform: none;
    text-decoration: none;
    text-align: center;
  
    border-radius: 40px;
    background-image: linear-gradient(to right, $color-dark-lilac -2%, #c0b7e8 98%);
  
    cursor: pointer;
  }
  
  

 