@import '../core/variables';

.landingPage {
  height: 100vh;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoTeam {
    width: 60%;
    max-width: 500px;
    margin: 5vh auto;
    img {
      width: 100%;
    }
  }
  &__button {
    width: 145px;
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: $color-white;
    font: $font-button;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background-color: transparent;
    background-image: linear-gradient(to right, $color-dark-lilac -2%, #c0b7e8 98%);
    cursor: pointer;

    &:hover {
      border-color: $color-white;
    }
  }
}
