* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  border: 0;
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}
